{% extends 'base.html.twig' %}

{% block content %}

        <p class="jumbotron">Un paragraphe</p>

    <!-- Services section. -->
    <section id="services">
        <h3>services</h3>

    </section>
    <!-- Services section. -->

    <!-- About section. -->
    <section id="about">
        <h3>Qui sui-je</h3>

    </section>
    <!-- About section. -->

    <!-- Skills section. -->
    <section id="skills">
        <h3>Compétences</h3>

    </section>
    <!-- Skills section. -->

    <!-- Developments  section. -->
    <section id="developments">
        <h3>Mes réalisations</h3>

    </section>
    <!-- Developments section. -->

    <!-- Contact section. -->
    <section id="contact">
        <h3>Me contacter</h3>

    </section>
    <!-- Contact section. -->





    <button type="button" class="btn btn-cyan">valider</button>
{% endblock %}