{% extends 'base.html.twig' %}

{% block content %}
    <div id="app">
        <h1 class="jumbotron">My first symfony app with Vue.js</h1>
        ${ message }
    </div>
    <button type="button" class="btn btn-cyan">valider</button>
{% endblock %}