/* Fonts */
@font-face {
    font-family: ‘Roboto’;
    src: url('../fonts/Roboto-Regular-webfont.eot'),
    url('../fonts/Roboto-Regular-webfont.ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: ‘Roboto’;
    src: url('../fonts/Roboto-Italic-webfont.eot'),
    url('../fonts/Roboto-Italic-webfont.ttf');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: ‘Roboto’;
    src: url('../fonts/Roboto-Bold-webfont.eot'),
    url('../fonts/Roboto-Bold-webfont.ttf');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: ‘Roboto Mono Light’;
    src: url('../fonts/robotomono-light-webfont.eot'),
    url('../fonts/robotomono-light-webfont.ttf');
    font-weight: normal;
    font-style: normal;
}

html {
    height: 100%;
}

body {
    position: relative;
    min-height: 100%;
    margin: 0;
    padding-bottom: 10em;
    box-sizing: border-box;
}

#logo {
    font-family: "Special Elite";
}

#preloader {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -70px;
    margin-top: -100px;
}

h1, h2, h3, h4, h5 {
    font-family: "Roboto";
    font-weight: bold;
}

nav {
    background-color: #2BA5D9;
}

.navbar {
    text-align: center;
}

p {
    hyphens: auto;
}

section {
    margin: 50px;
    font-family: "Roboto Mono", monospace;
    font-size: medium;
}

#scroll-return {
    position: fixed;
    top: 85%;
    left: 85%;
    width: 60px;
    height: 60px;
    text-align: center;
    padding-top: 5px;
    border-radius: 50%;
    background-color: #263238;
    color: #FFF;
    box-shadow: 0 0 5px #546072;
    z-index: 10;
    transition: box-shadow 0.4s ease;
}

#scroll-return:hover {
    box-shadow: 0 1px 10px #000;
}

/* Sections */

#home {
    background-color: #39B59F;
    height: 950px;
    padding-bottom: 0;
}

#introduction-title {
    color: #FFFDD8;
}

#introduction {
    margin-top: 50px;
    font-family: 'Arial';
    font-size: medium;
    color: #FFF;
}

#introduction-paragraphe {
    margin-bottom: 100px;
}

.btn#contact_btn {
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #2BA5D9;
    border: 1px solid #FFF;
    border-radius: 30px;
}

#triangle-form {
    width: 0;
    height: 50%;
    border-bottom: 600px solid #2BA5D9;
    border-left: 900px solid transparent;
}

#illustration-header {
    padding-right: 0;
}

#illustration {
    position: absolute;
    right: 150px;
    bottom: 150px;
    background-color: #FFF;
    width: 400px;
    height: 400px;
    border-radius: 50%;
    z-index: 5;
}

#computer {
    max-width: 80%;
    max-height: 80%;
}

#github-icon, #linkedin-icon, #codewars-icon {
    margin-top: 10px;
    margin-right: 10px;
    margin-left: 10px;
    width: 35px;
    height: 35px;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12) ;
    transition: box-shadow 0.5s;
}

#github-icon:hover, #linkedin-icon:hover {
    box-shadow: 0 2px 5px black;
}

.box-content li {
    list-style-type: none;
}

.box-content li:before {
    font-weight: bold;
    content: '\221A';
    color: #2BA5D9;
}


.icon-box {
    font-size: 3em;
    color: #2BA5D9;
    margin-bottom: 10px;
}

.section-title {
    margin-top: 100px;
    margin-bottom: 100px;
    text-align: center;
}
#avatar {
    border-radius: 50%;
}

.about-paragraphs p {
    text-indent: 5em;
    hyphens: manual;
}

.box {
    margin-bottom: 50px;
}

.icon-tech {
    width: 70px;
    height: 70px;
    margin: 20px;
}

#language, #frameworks, #tools {
    margin-bottom: 50px;
}

.card {
    margin-bottom: 30px;
    padding: 5px;
    border: 1px solid #39B59F;
    box-shadow: 0 0;
}

.post-item {
    padding: 15px;
}
.mask {
    font-family: arial, helvetica, sans-serif;
    font-size: small;
    color: #FFF;
    width: 80%;
    height: 80%;
    padding: 15px;
    margin-right: 30px;
    background-color: #39B59F;
}

.project-description {
    -moz-hyphens: auto;
}

.project-description hr {
    width: 50px;
    border-color: #FFF;
}

.form-error {
    color: #f44248;
}

.md-form input:focus {
    color: #000 !important;
    box-shadow: 0 1px #000 !important;
    border-bottom: 1px solid #000 !important;
}

.md-form textarea:focus {
    color: #000;
    box-shadow: 0 1px #000 !important;
    border-bottom: 1px solid #000 !important;
}
.md-form input[type=text]:focus:not([readonly]) + label {
    color: #2BA5D9;
}
.md-form input[type=email]:focus:not([readonly]) + label {
    color: #2BA5D9;
}

#submit-button {
    width: 100%;
    margin-top: 20px;
    box-shadow: 1px 1px 5px gray;
    border-radius: 30px;
}

#submit-button:hover {
    box-shadow: 1px 1px 10px gray;
}

.login-form {
    margin-top:200px;
    margin-bottom: 200px;
}

/* Blog */


#navbar-pagination, .breadcrumb-nav {
    background-color: transparent;
}

.navControl {
    margin-top: 100px;
    margin-bottom: 150px;
}

.navControl i, .fullPost i, .fullPost span {
    color: #2BA5D9;
}

.navControl span {
    font-size: x-large;
    margin-left: 10px;
    line-height: 26px;
}

.tag-list  {
    display: inline-flex;
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
}

.tag-item {
    font-size: small;
    color: #000;
    min-width: 60px;
    margin-left: 5px;
    margin-right: 5px;
    padding-left: 5px;
    padding-right: 5px;
    border: 1px solid;
    cursor:pointer;
}

#tag-content {
    margin-bottom: 50px;
}

.post-item {
    border-color: #C8C8C8;
}

.title-box h2 {
    display: inline;
    margin-bottom: 0;
}

.title-box .tag-list {
    position: relative;
    top: -5px;
}

.postInfo, .comment-date {
    font-size: small;
    color: #B8B8B8;
    margin-bottom: 10px;
}

.post-title {
    margin-bottom: 50px;
}

.postContent {
    font-family: "Roboto Mono", monospace;
    font-size: 15px;
}

#comment-form {
    margin-top: 20px;
    width: 60%;
}

.comment-content {
    font-family: "Open Sans Condensed", sans-serif;
}

/* Blog */


/* Admin */

.post-card {
    margin: auto;
    width: 70%;
    padding: 20px
}

#main-content {
    margin-top: 150px;
}

footer {
    position: absolute;
    left: 0;
    right: 0;
    color: #FFF;
    background-color: #2BA5D9;
    margin-top: 100px;
}

/* Media queries */


@media (min-width: 992px) and (max-width: 1499px) {
    section {
        margin: 50px;
        font-family: "Roboto Mono", monospace;
        font-size: smaller;
    }
    #home {
        height: 700px;
    }

    #introduction-title {
        font-size: 30px;
    }

    #triangle-form {
        width: 0;
        height: 50%;
        border-bottom: 400px solid #2BA5D9;
        border-left: 600px solid transparent;
    }

    #illustration {
        right: 150px;
        bottom: 50px;
        width: 300px;
        height: 300px;
    }
}

@media(max-width: 1199px) {

    #home {
        height: 700px;
    }

    #introduction-paragraphe {
        margin-bottom: 20px;
    }

    #github-icon, #linkedin-icon, #codewars-icon {
        margin-top: 50px;
        margin-left: 10px;
        margin-right: 10px;
        width: 40px;
        height: 40px;
    }

    #contact_link {
        display: flex;
        justify-content: center;
    }

    #scroll-return {
        position: fixed;
        top: 90%;
        left: 75%;
    }

}

@media (max-width: 991px) {

    .nav-item:hover {
        background-color: #000;
    }

    #introduction-title {
        font-size: 30px;
    }

    section {
        margin: 15px;
        font-size: small;
    }

    #triangle-form {
        visibility: hidden;
    }

    #comment-form {
        width: 100%;
    }

}

/* transitions */

.scrollButton-enter-active {
    transition: opacity 1s ease;
}

.scrollButton-enter {
    opacity: 0;
}

.fade1-enter-active {
    transition: opacity 0.5s ease, transform 1s;
}

.fade1-enter {
    opacity: 0;
    transform: translatex(-50%);

}

.fade2-enter-active {
    transition: opacity 0.5s ease, transform 1s;
}

.fade2-enter {
    opacity: 0;
    transform: translatex(50%);

}

.skills-move-enter-active {
    transition: transform 1s ease;
}

.skills-move-enter {
    transform: scale(0);
}

.skills-move-enter-to {
    transform: scale(1);
}
