<nav class="breadcrumb-nav" aria-label="breadcrumb">
    <ul class="breadcrumb white">

        {% if app.request.get('tag') is defined %}

            <li class="breadcrumb-item" >
                <a href="{{ path('show_list') }}" >Retour à la liste de tous les articles</a>
            </li>

            {% if app.session.get('tag') %}

            <li {% if post.title is not defined %}
                class="breadcrumb-item active"
                {% else %} class="breadcrumb-item"
                {% endif %}
            >
                {{ app.session.get('tag') }}
            </li>
            {% endif %}

            {% if post.title is defined %}

            <li class="breadcrumb-item active" >
                {{ post.title }}
            </li>
            {% endif %}

        {% endif %}

    </ul>
</nav>