    <!-- Fil des commentaries -->

    <div id="comments-thread" class="mt-5">
        {% for comment in post.comments %}

        <div class="comment-body mb-4" >
            <div class="comment-header">
                <span class="comment-author"><strong>{{ comment.author }}</strong></span>
                <span class="comment-date"> - {{ comment.createdAt | date }} -</span>
            </div>
            <div class="comment-content">

                <p>{{ comment.content|raw }}</p>

            </div>
        </div>

        {% endfor %}
    </div>

    <!-- Fil des commentaries -->

