<div id="tag-content">
    <ul class="tag-list">

        {% for tag in tags %}
            <li class="tag-item-search d-flex justify-content-center">
                <a href="{{ path('show_list', { 'tag': tag.name }) }}">
                    {{ tag.name }}
                </a>
            </li>
        {% endfor %}

    </ul>
</div>